body {
    background-image: url('../twoism-blank.png');
    background-color: #dfe6ba;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left 100% bottom 100%;
    background-attachment: fixed; /* fix when scrolling */
    margin: 1;
    font-family: consolas;
}
#current-tab {
    border: 3px;
    border-style: solid;
    border-color: red;
}
#comments {
    width: 65%;    
    height: 40%;  
    resize: none; /* no resizing */
    padding: 10px;   
    font-family: consolas;  
    font-size: 16px; 
    background-color: #ffffff;  
    background-image: url('../john-and-bender.png');
    opacity: 0.75;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}
/* HYPERLINKS s*/
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    background-color: yellow;
}
/* HYPERLINKS f*/
br {
    line-height: 30px;
}

/*BLUR EDGES OF HOME PAGE IMAGE s*/
#tangiers {
    position: relative;
    display: inline-block;
    width: 100%;  
    height: 300px;
    opacity: 0.80; 
}

#tangiers::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.7) 100%);
    pointer-events: none; 
}

/*BLUR EDGES OF HOME PAGE IMAGE f*/
