body {
    background-image: url('../background.png');
    background-color: #000000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    font-family: consolas;
}
