body {
    background-image: url('../twoism-blank.png');
    background-color: #dfe6ba;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left 100% top 100%;
    margin: 2;
    font-family: consolas;
}
#comments {
    width: 50%;    
    height: 30%;  
    resize: none;    /* Disable resizing */
    padding: 10px;   
    font-family: consolas;  
    font-size: 14px; 
}
